main {
    background: white;
    padding: 30px;
}

main .box {
    width: 895px;
    margin: auto;
}

main .content p {
    font-size: 20px;
    font-family: serif;
}

main .content p a {
    color: #633B18;
}

main .title {
    color: #633B18;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    margin-bottom: 20px;
}

@media screen and (max-width: 955px) {
    main .box {
        width: 746px;
    }

    main .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    main .box {
        width: 100%;
    }

    main .title {
        font-size: 26px;
    }
}
