{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/topbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/full_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="mdl-layout mdl-js-layout">
    {% include "pages/topbar.html" %}
    <main class="mdl-layout__content">
        <div class="box">
            <div class="title">{{ page.title }}</div>
            {% for block in page.body %}
            <section class="content">
                {% if block.block_type == 'paragraph' %}
                {{ block.value|richtext }}
                {% elif block.block_type == 'logo_item' %}
                <div class="logo_item">
                    <div class="logo_box">
                        {%  image block.value.logo original as logo %}
                        <img src="{{ logo.url }}" />
                    </div>
                    <div class="description">
                        {{ block.value.description|richtext }}
                    </div>
                </div>
                {% else %}
                {% include_block block %}
                {% endif %}
            </section>
            {% endfor %}
        </div>
    </main>
</div>
{% endblock content %}
