<header class="mdl-layout__header topbar">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Lise Witteman</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/eu-correspondent">EU-correspondent</a>
            <a class="mdl-navigation__link" href="">Follow the EU paper trails (EN)</a>
            <a class="mdl-navigation__link" href="/contact">Contact</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer topbar">
    <span class="mdl-layout-title">Lise Witteman</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/eu-correspondent">EU-correspondent</a>
        <a class="mdl-navigation__link" href="">Follow the EU paper trails (EN)</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
    </nav>
</div>
